/* EXERCÍCIO 1: fontes */
/* importá-las aqui... e definir as `font-family` da turminha... */

@import "./fonts/ravie.css";
@import "./fonts/verdana.css";

:root {
  --cor-do-texto: #333;
  --cor-de-fundo: #fff;
  --cor-do-cabecalho: #e90c0c;
  --cor-de-fundo-recipiente: linear-gradient(to bottom, #f6f1b2, #4599b2 80%);
  --cor-de-fundo-cardapio: rgba(255, 255, 255, 0.2);
  --cor-borda-cardapio: #aac0ae;
  --cor-borda-recipiente: #d3d3d3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cor-do-texto: #eee;
    --cor-de-fundo: #000;
    --cor-de-fundo-recipiente: linear-gradient(to bottom, #1e5969, #181a2a 80%);
    --cor-de-fundo-cardapio: rgba(0, 0, 0, 0.2);
    --cor-borda-cardapio: #383d39;
    --cor-borda-recipiente: #616161;
  }
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  background-color: var(--cor-de-fundo);
}

strong {
  color: #d027aa;
  font-family: Ravie, sans-serif;
}

#recipiente {
  background-image: var( --cor-de-fundo-recipiente);
  border-left: 1px solid  var(--cor-borda-recipiente);
  border-right: 1px solid var(--cor-borda-recipiente);
}

#cardapio {
  background-color:var(--cor-de-fundo-cardapio);
  border-top: 1px solid var(--cor-borda-cardapio);
  border-bottom: 1px solid var(--cor-borda-cardapio);
  border-left: 1px solid var(--cor-borda-cardapio);
}

#cardapio h3 {
  font-size: 18px;
  color: var(--cor-do-texto);
  margin-top: 30px;
}

#cardapio article {
  font-size: 14px;
  color: var(--cor-do-texto);
}


/* EXERCÍCIO 2: layout da página */
#recipiente {
  grid-template:  "lateral cabecalho" auto
                  "lateral conteudo" 1fr
                  "lateral rodape" auto
                  / 170px 1fr;
  padding: 0;
  width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid; 
}

#cabecalho-pagina {
  grid-area: cabecalho;
}

#lateral {
  grid-area: lateral;
}

#cardapio {
  grid-area: conteudo;  
  padding: 20px;
}

#rodape-pagina {
  grid-area: rodape;
}



/* EXERCÍCIO 3: cabeçalho da página */
#cabecalho-pagina {
  margin: 10px;
}

#cabecalho-pagina h1 {
  margin: 0;
  font-size: 36px;
  color: var(--cor-do-cabecalho);
  font-weight: normal;
  padding-right: 55px;
  text-align: end;
}

#cabecalho-pagina h2 {
  margin: 0;
  font-size: 24px;
  margin-top: 10px;
  color: var(--cor-do-texto);
  font-weight: normal;
  text-align: end;
}

/* EXERCÍCIO 4: cada item do menu */
article {
  justify-content: space-between;
  display: flex;
  line-height: 2em;
}


/* EXERCÍCIO 5: o rodapé */
#rodape-pagina {
  text-align: end;
  margin-top: 46px;
  margin-bottom: 25px;
  margin-right: 15px;
}

/* EXERCÍCIO 6: lateral */
#lateral {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}


/* EXERCÍCIO 7: o ticket */
#ticket {
  position: fixed;
  top: 50%;
  left: -89px;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
}

#ticket:hover {
  transition: all 300ms ease-out;
  left: 0;
}


/* EXERCÍCIO 8: deslocamento no siri e peixe */
#siri {
  position: relative;
  top: 17px;
  left: -10px;
}

#peixe {
  position: relative;
  left: -44px;
}

/* EXERCÍCIO 9: bolhas - no HTML e no JS */
/* --- */


/* EXERCÍCIO 10: modo escuro */
/* no início deste arquivo (depois dos @import), coloque
   as custom properties */
/* coloque aqui a media query para sobrescrever o valor
   das custom properties para o modo escuro */

